body, html{
    margin: 0;
    padding:  0;
}


 header{ 
    background-color: aqua;
    height: 60px;
    grid-area: header;
}

nav{
    background-color: coral;
    grid-area: menu;
}

article{
    background-color: bisque;
    height: 240px;
    grid-area: content;
}

footer{
    height: 80px;
    background-color: red;
    clear: both;
    grid-area:footer;
}

.contenedor{
    width: 1200px;
    margin: 0 auto;
    background-color: orange;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menu content content content'
    'footer footer footer footer'
    
    ;
}

